@model Web.Models.indexViewModel
<style>
    img {
        max-width: 400px;
    }
</style>
<a id="top"></a>
<h1 style="text-align: center;">Новостная лента</h1>
<hr>

@using (Ajax.BeginForm("ajaxPageLinks", new AjaxOptions { UpdateTargetId = "targetDiv" }))
{
    <div style="margin-left: 2%;">
        <div class="form-group">
            <label for="sel1">Источник ленты</label>
            <select class="form-control" name="source" id="trueSelect">
                <option @if (ViewBag.source == "%") { @: selected
                        }
                        value="%">
                    Все
                </option>
                <option @if (ViewBag.source == "Habr.com") { @: selected
                        }
                        value="Habr.com">
                    Habr.com
                </option>
                <option @if (ViewBag.source == "Interfax.by") { @: selected
                        }
                        value="Interfax.by">
                    Interfax.by
                </option>
            </select>
        </div>

        <div id="trueRadio" name="1">
            <label class="radio-inline">
                <input type="radio" name="sort" value="date" @if (ViewBag.sort == "date") { @: checked
                       }>Сортировать по дате
            </label>
            <label class="radio-inline">
                <input type="radio" name="sort" value="source" @if (ViewBag.sort == "source") { @: checked
                       }>Сортировать по источнику
            </label>
        </div>

        <input id="ajaxSubmit" type="submit" style="display: none;">
    </div>
}
<br />
<div style="margin-left: 2%;">
    <form id="fakeForm">
        <div style="display: none;">
            <select name="source" id="falseSelect">
                <option id="all" @if (ViewBag.source == "%") { @: selected
                        }
                        value="%">
                    1
                </option>
                <option id="Habr" @if (ViewBag.source == "Habr.com") { @: selected
                        }
                        value="Habr.com">
                    2
                </option>
                <option id="Interfax" @if (ViewBag.source == "Interfax.by") { @: selected
                        }
                        value="Interfax.by">
                    3
                </option>
            </select>
        </div>

        <div id="falseRadio" style="display: none;">
            <input id="date" type="radio" name="sort" value="date" @if (ViewBag.sort == "date") { @: checked
                    }>
            <input id="source" type="radio" name="sort" value="source" @if (ViewBag.sort == "source") { @: checked
                    }>
        </div>

        <input id="serverSubmit" value="Просмотреть" type="submit" class="btn btn-default">
    </form>
</div>

<br />

<div id="targetDiv">
    <table class="table">
        <tr>
            <th>Источник</th>
            <th>Название новости</th>
            <th>Описание новости</th>
            <th>Дата публикации</th>
        </tr>
        @foreach (var item in Model.rssList)
        {
            <tr>
                <td>@item.source</td>
                <td><a href="@item.link" target="_blank">@Html.Raw(item.title)</a></td>
                <td>@Html.Raw(item.description)</td>
                <td>@item.date</td>
            </tr>
        }
    </table>

    <br />

    <div style="margin-left: 2%">
        <div class="btn-group" id="links">
            @for (int i = 1; i <= Model.pageInfo.totalPages; i++)
            {
                if (i == 1)
                {
                    @Ajax.ActionLink(Convert.ToString(i), "ajaxPageLinks", new { page = (i), source = ViewBag.source, sort = ViewBag.sort }, new AjaxOptions { UpdateTargetId = "targetDiv" }, new { @class = "btn btn-primary" });
                }
                else
                {
                    @Ajax.ActionLink(Convert.ToString(i), "ajaxPageLinks", new { page = (i), source = ViewBag.source, sort = ViewBag.sort }, new AjaxOptions { UpdateTargetId = "targetDiv" }, new { @class = "btn btn-default" });
                }
            }
        </div>
    </div>
</div>
